.main-cont {
  margin-bottom: 10px;
}


.my-page-header {
  text-align: center;
  margin: 17px 0 0;
}


.months-cont {
  text-align: center;
  margin: 48px 0 0;
}

.weather-buttons {
  text-align: center;
  margin: 0 10px;
}

.weather-buttons {
  .cold, .chilly, .warm, .hot {
    width: 134px;
  }
}


.air-temp, .weather-buttons {
  display: inline-block;
  font-size: 20px;
}

.weather-cont {
  /*width: 50%;*/
  margin: 28px auto 0;
  text-align: center;
}

.search-cont {
  margin: 20px 0 0;
  padding: 0!important;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.search-cont {
  .my-search-icon {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 631px;
    width: 45px;
    height: 45px;
  }

  .search-input {
    padding-right: 45px;
  }
}

.places-cont {
  margin: 16px 0 50px;
}












/* ============================================================
  RESET
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: #dc2850;
}

a:hover {
  color: #9e1a37;
}

/* clear floated divs */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


section:last-child {
  margin-bottom: 0;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}


/*Kate's css*/
ul.input-list li {
  display: block;
  padding: 0;
  width: 31%;
  margin: 0 auto 28px;
}

@media all and (max-width: 800px) {
  ul.input-list {
    margin: 0;
  }
  ul.input-list li {
    padding: 0;
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}


/* =======================
  INPUT STYLE
========================== */
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus, .style-1 input[type="text"].focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}